In [85]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
from pprint import pprint
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [19]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link = 'https://drive.google.com/file/d/1S6novIF64WU92Q2MjP5O39u34rL_z59B/view?usp=drivesdk'    #getting drive link 
id = link.split("/")[-2]
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('dataset.csv')
df = pd.read_csv('dataset.csv')
print(df)

        tripduration            starttime             stoptime  \
0                695  2013-06-01 00:00:01  2013-06-01 00:11:36
1                693  2013-06-01 00:00:08  2013-06-01 00:11:41
2               2059  2013-06-01 00:00:44  2013-06-01 00:35:03
3                123  2013-06-01 00:01:04  2013-06-01 00:03:07
4               1521  2013-06-01 00:01:22  2013-06-01 00:26:43
...              ...                  ...                  ...
577698           925  2013-06-30 23:59:27  2013-07-01 00:14:52
577699           279  2013-06-30 23:59:36  2013-07-01 00:04:15
577700           161  2013-06-30 23:59:33  2013-07-01 00:02:14
577701           909  2013-06-30 23:59:47  2013-07-01 00:14:56
577702           634  2013-07-01 00:00:00  2013-07-01 00:10:34

        start station id      start station name  start station latitude  \
0                    444      Broadway & W 24 St               40.742354
1                    444      Broadway & W 24 St               40.742354
2                    406  Hicks St & Montague St               40.695128
3                    475     E 15 St & Irving Pl               40.735243
4                   2008   Little West St & 1 Pl               40.705693
...                  ...                     ...                     ...
577698               509         9 Ave & W 22 St               40.745497
577699               116         W 17 St & 8 Ave               40.741776
577700               443    Bedford Ave & S 9 St               40.708531
577701               509         9 Ave & W 22 St               40.745497
577702               164         E 47 St & 2 Ave               40.753231

        start station longitude  end station id        end station name  \
0                    -73.989151           434.0         9 Ave & W 18 St
1                    -73.989151           434.0         9 Ave & W 18 St
2                    -73.995951           406.0  Hicks St & Montague St
3                    -73.987586           262.0         Washington Park
4                    -74.016777           310.0     State St & Smith St
...                         ...             ...                     ...
577698               -74.001971           462.0        W 22 St & 10 Ave
577699               -74.001497           494.0         W 26 St & 8 Ave
577700               -73.964090           282.0      Kent Ave & S 11 St
577701               -74.001971           462.0        W 22 St & 10 Ave
577702               -73.970325           504.0         1 Ave & E 16 St

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.743174             -74.003664   19678  Subscriber
1                  40.743174             -74.003664   16649  Subscriber
2                  40.695128             -73.995951   19599    Customer
3                  40.691782             -73.973730   16352  Subscriber
4                  40.689269             -73.989129   15567  Subscriber
...                      ...                    ...     ...         ...
577698             40.746920             -74.004519   15250  Subscriber
577699             40.747348             -73.997236   19411    Customer
577700             40.707645             -73.968415   18910  Subscriber
577701             40.746920             -74.004519   16108    Customer
577702             40.732219             -73.981656   16950    Customer

        birth year  gender
0           1983.0       1
1           1984.0       1
2              NaN       0
3           1960.0       1
4           1983.0       1
...            ...     ...
577698      1964.0       1
577699         NaN       0
577700      1972.0       2
577701         NaN       0
577702         NaN       0

[577703 rows x 15 columns]

In [20]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [21]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,5.777030e+05,577703.000000,577703.000000,577703.000000,559644.000000,559644.000000,559644.000000,577703.000000,337382.000000,577703.000000
mean,1.372570e+03,439.228836,40.732436,-73.991251,441.910624,40.732146,-73.991244,17617.434516,1974.644945,0.710431
std,9.028063e+03,337.240318,0.021423,0.013002,345.448311,0.021507,0.013105,1677.518719,10.780255,0.678268
min,6.100000e+01,72.000000,40.646607,-74.017134,72.000000,40.646607,-74.017134,14529.000000,1899.000000,0.000000
25%,5.140000e+02,309.000000,40.717400,-74.001768,309.000000,40.716887,-74.001971,16161.000000,1968.000000,0.000000
50%,8.740000e+02,404.000000,40.734546,-73.990741,403.000000,40.734232,-73.990741,17638.000000,1977.000000,1.000000
75%,1.398000e+03,482.000000,40.749013,-73.981948,482.000000,40.748549,-73.981923,19066.000000,1983.000000,1.000000
max,3.876479e+06,3020.000000,40.771522,-73.950048,3020.000000,40.771522,-73.950048,20625.000000,1997.000000,2.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577703 entries, 0 to 577702
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             577703 non-null  int64
 1   starttime                577703 non-null  object
 2   stoptime                 577703 non-null  object
 3   start station id         577703 non-null  int64
 4   start station name       577703 non-null  object
 5   start station latitude   577703 non-null  float64
 6   start station longitude  577703 non-null  float64
 7   end station id           559644 non-null  float64
 8   end station name         559644 non-null  object
 9   end station latitude     559644 non-null  float64
 10  end station longitude    559644 non-null  float64
 11  bikeid                   577703 non-null  int64
 12  usertype                 577703 non-null  object
 13  birth year               337382 non-null  float64
 14  gender                   577703 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 66.1+ MB

In [24]:
df.isnull().sum()

tripduration                    0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              18059
end station name            18059
end station latitude        18059
end station longitude       18059
bikeid                          0
usertype                        0
birth year                 240321
gender                          0
dtype: int64

In [26]:
df[df['starttime'].isnull()]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [27]:
df[df['stoptime'].isnull()]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [28]:
df = df[:-1]

In [29]:
df.isnull().sum()

tripduration                    0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              18059
end station name            18059
end station latitude        18059
end station longitude       18059
bikeid                          0
usertype                        0
birth year                 240320
gender                          0
dtype: int64

In [30]:
print(type(df["start station latitude"][0]))
print(df["start station latitude"][0])

<class 'numpy.float64'>
40.7423543

In [34]:
df['start station name'].unique()

array(['Broadway & W 24 St', 'Hicks St & Montague St',
       'E 15 St & Irving Pl', 'Little West St & 1 Pl', 'W 37 St & 5 Ave',
       'Broadway & E 14 St', '9 Ave & W 22 St',
       'Stanton St & Chrystie St', '9 Ave & W 14 St', 'W 54 St & 9 Ave',
       'Henry St & Grand St', 'DeKalb Ave & S Portland Ave',
       'Broadway & W 29 St', 'E 33 St & 2 Ave', 'Murray St & West St',
       'E 20 St & Park Ave', 'Lispenard St & Broadway', 'W 26 St & 8 Ave',
       'W 4 St & 7 Ave S', 'E 58 St & 3 Ave', 'W 53 St & 10 Ave',
       'W 22 St & 8 Ave', 'W 13 St & 7 Ave', 'E 31 St & 3 Ave',
       'Cleveland Pl & Spring St', 'Allen St & Stanton St',
       'W 15 St & 7 Ave', 'E 4 St & 2 Ave', 'Forsyth St & Broome St',
       'Christopher St & Greenwich St', 'Bayard St & Baxter St',
       'Atlantic Ave & Fort Greene Pl', 'Ashland Pl & Hanson Pl',
       'E 10 St & Avenue A', 'W 41 St & 8 Ave', 'Lafayette St & E 8 St',
       'W 45 St & 6 Ave (1)', 'Rivington St & Chrystie St',
       '10 Ave & W 28 St', 'Pershing Square South', '6 Ave & Broome St',
       'NYCBS Depot - DEL', 'Harrison St & Hudson St',
       'E 7 St & Avenue A', 'Franklin St & W Broadway',
       'W 52 St & 11 Ave', 'Broadway & W 41 St', 'Perry St & Bleecker St',
       'Forsyth St & Canal St', '8 Ave & W 31 St N', '8 Ave & W 33 St',
       'Washington Pl & 6 Ave', '6 Ave & W 33 St', 'W 51 St & 6 Ave',
       'Broadway & Berry St', 'W 33 St & 7 Ave', 'St Marks Pl & 2 Ave',
       'Catherine St & Monroe St', 'E 11 St & Broadway',
       'S 5 Pl & S 5 St', 'Great Jones St', 'Mercer St & Spring St',
       'W 20 St & 8 Ave', 'Emerson Pl & Myrtle Ave',
       'Shevchenko Pl & E 7 St', 'Lawrence St & Willoughby St',
       'Cadman Plaza W & Pierrepont St', '1 Ave & E 16 St',
       'S 3 St & Bedford Ave', 'Henry St & Atlantic Ave',
       'Clinton St & Joralemon St', 'E 52 St & 2 Ave',
       'Willoughby Ave & Hall St', 'E 60 St & York Ave',
       'Grand Army Plaza & Central Park S', 'W 46 St & 11 Ave',
       'Pike St & E Broadway', 'Clermont Ave & Lafayette Ave',
       'Suffolk St & Stanton St', '2 Ave & E 31 St',
       'Norfolk St & Broome St', 'Watts St & Greenwich St',
       'Adelphi St & Myrtle Ave', 'Hudson St & Reade St',
       'W 25 St & 6 Ave', 'W 39 St & 9 Ave', '8 Ave & W 52 St',
       'Broadway & W 37 St', '12 Ave & W 40 St',
       'South St & Whitehall St', 'Washington Square E',
       'Mott St & Prince St', 'Bank St & Washington St',
       'John St & William St', 'Old Fulton St', 'E 20 St & 2 Ave',
       'Jay St & Tech Pl', 'Washington St & Gansevoort St',
       'W 20 St & 11 Ave', 'E 3 St & 1 Ave',
       'MacDougal St & Washington Sq', 'Fulton St & Washington Ave',
       '6 Ave & Canal St', 'Bus Slip & State St',
       'Willoughby St & Fleet St', 'Concord St & Bridge St',
       '9 Ave & W 45 St', 'W 18 St & 6 Ave', 'E 5 St & Avenue C',
       'E 39 St & 2 Ave', 'Mercer St & Bleecker St S',
       'DeKalb Ave & Hudson Ave', 'E 47 St & 1 Ave', 'W 27 St & 7 Ave',
       '11 Ave & W 41 St', 'West St & Chambers St', 'E 11 St & 1 Ave',
       'St James Pl & Pearl St', 'W Broadway & Spring St',
       'S 4 St & Wythe Ave', 'Clinton St & Grand St', 'E 2 St & Avenue C',
       'St James Pl & Oliver St', 'Sullivan St & Washington Sq',
       'W 14 St & The High Line', 'W 49 St & 8 Ave', 'Broadway & W 53 St',
       'W 38 St & 8 Ave', 'Greenwich Ave & 8 Ave',
       'Rivington St & Ridge St', 'LaGuardia Pl & W 3 St',
       'Metropolitan Ave & Bedford Ave', 'Greenwich St & North Moore St',
       'Atlantic Ave & Furman St', 'University Pl & E 14 St',
       'E 39 St & 3 Ave', 'Broadway & E 22 St', 'Centre St & Worth St',
       '3 Ave & Schermerhorn St', 'W 22 St & 10 Ave',
       'Allen St & Rivington St', 'Cliff St & Fulton St',
       'W 17 St & 8 Ave', 'Cumberland St & Lafayette Ave',
       'W 59 St & 10 Ave', 'Broadway & W 51 St',
       'Water - Whitehall Plaza', 'Fulton St & Clermont Ave',
       'W 47 St & 10 Ave', 'W 20 St & 7 Ave', 'Carmine St & 6 Ave',
       'Greenwich St & W Houston St', 'Broadway & W 32 St',
       'E 10 St & 5 Ave', 'Lefferts Pl & Franklin Ave', '2 Ave & E 58 St',
       'St Marks Pl & 1 Ave', 'W 24 St & 7 Ave', '11 Ave & W 27 St',
       'W 16 St & The High Line', 'E 27 St & 1 Ave', 'W 43 St & 10 Ave',
       'Bond St & Schermerhorn St', 'Lexington Ave & E 29 St',
       'W 29 St & 9 Ave', 'Washington Ave & Greene Ave',
       'Kent Ave & S 11 St', 'W 21 St & 6 Ave', 'E 2 St & 2 Ave',
       '9 Ave & W 16 St', 'Howard St & Centre St',
       'MacDougal St & Prince St', 'Washington Ave & Park Ave',
       'E 14 St & Avenue B', 'Clark St & Henry St', 'Broadway & W 49 St',
       'Clinton Ave & Myrtle Ave', 'Pearl St & Anchorage Pl',
       'E 25 St & 2 Ave', 'E 17 St & Broadway',
       'S Portland Ave & Hanson Pl', 'W 26 St & 10 Ave',
       'E 51 St & Lexington Ave', 'Division St & Bowery',
       'Barrow St & Hudson St', 'Cadman Plaza E & Red Cross Pl',
       'Warren St & Church St', 'W 34 St & 11 Ave', 'NYCBS Test',
       'West Thames St', 'Allen St & Hester St',
       'DeKalb Ave & Vanderbilt Ave', 'E 32 St & Park Ave',
       'Leonard St & Church St', 'W 13 St & 5 Ave',
       'Bialystoker Pl & Delancey St', 'Fulton St & Grand Ave',
       'E 53 St & Madison Ave', 'Cadman Plaza West & Montague St',
       'Broadway & W 58 St', 'E 47 St & 2 Ave', 'W 13 St & 6 Ave',
       'Macon St & Nostrand Ave', 'Fulton St & Rockwell Pl',
       'W 37 St & 10 Ave', 'Broadway & Battery Pl', 'Washington Park',
       'E 19 St & 3 Ave', 'Maiden Ln & Pearl St', '1 Ave & E 44 St',
       '11 Ave & W 59 St', 'Columbia Heights & Cranberry St',
       'South End Ave & Liberty St', 'Broadway & W 56 St',
       'Bank St & Hudson St', 'Central Park S & 6 Ave',
       'E 53 St & Lexington Ave', 'Monroe St & Bedford Ave',
       'Pershing Square North', '1 Ave & E 30 St',
       'Canal St & Rutgers St', 'Market St & Cherry St',
       'Reade St & Broadway', 'Greenwich St & Warren St',
       'E 20 St & FDR Drive', 'E 13 St & Avenue A',
       'Lexington Ave & E 24 St', 'E 2 St & Avenue B',
       'Lafayette Ave & Classon Ave', 'W 11 St & 6 Ave',
       'Lafayette Ave & St James Pl', 'Barclay St & Church St',
       'W 52 St & 9 Ave', 'E 9 St & Avenue C', 'Old Slip & Front St',
       'Johnson St & Gold St', 'York St & Jay St',
       'South St & Gouverneur Ln', '1 Ave & E 18 St', 'E 12 St & 3 Ave',
       'Broad St & Bridge St', 'State St & Smith St',
       'Fulton St & William St', 'E 6 St & Avenue B', 'E 15 St & 3 Ave',
       'Duane St & Greenwich St', 'E 51 St & 1 Ave', 'Front St & Gold St',
       'Broadway & W 38 St', 'Madison St & Montgomery St', 'Cherry St',
       'E 11 St & 2 Ave', 'Columbia St & Rivington St', 'W 42 St & 8 Ave',
       'E 56 St & 3 Ave', '5 Ave & E 29 St', 'Spruce St & Nassau St',
       'E 24 St & Park Ave S', 'E 25 St & 1 Ave',
       'Lafayette St & Jersey St N', 'Avenue D & E 8 St',
       'Greenwich Ave & Charles St', 'Front St & Washington St',
       'Fulton St & Broadway', 'NYCBS Depot - FAR', 'E 47 St & Park Ave',
       'Carlton Ave & Flushing Ave', 'Lafayette Ave & Fort Greene Pl',
       'Grand St & Havemeyer St', 'Carlton Ave & Park Ave',
       'Washington Pl & Broadway', 'FDR Drive & E 35 St',
       'E 23 St & 1 Ave', 'Broadway & W 60 St', 'E 55 St & Lexington Ave',
       'W 56 St & 10 Ave', 'W 31 St & 7 Ave', 'Vesey Pl & River Terrace',
       'Park Ave & St Edwards St', 'E 55 St & 2 Ave',
       'Lexington Ave & Classon Ave', 'Liberty St & Broadway',
       'W 52 St & 5 Ave', 'E 30 St & Park Ave S', 'E 40 St & 5 Ave',
       'Henry St & Poplar St', 'Clinton Ave & Flushing Ave',
       'E 56 St & Madison Ave', 'Pike St & Monroe St',
       'Grand St & Greene St', 'NYCBS Depot - SSP',
       'E 48 St & Madison Ave', 'E 16 St & 5 Ave', 'E 33 St & 5 Ave',
       'W 56 St & 6 Ave', 'E 6 St & Avenue D', 'W 45 St & 8 Ave',
       'Franklin Ave & Myrtle Ave', 'Cadman Plaza E & Tillary St',
       'Clermont Ave & Park Ave', 'Front St & Maiden Ln',
       'Willoughby Ave & Walworth St', 'Madison St & Clinton St',
       'Broadway & W 36 St', 'Pearl St & Hanover Square',
       'William St & Pine St', 'Avenue D & E 3 St',
       'Stanton St & Mangin St', 'Wythe Ave & Metropolitan Ave',
       '9 Ave & W 18 St', 'Clinton St & Tillary St',
       'Hancock St & Bedford Ave', 'Duffield St & Willoughby St',
       'Peck Slip & Front St', 'Monroe St & Classon Ave',
       'Nassau St & Navy St', 'Myrtle Ave & St Edwards St',
       'Railroad Ave & Kay Ave', 'Sands St & Navy St', 'E 45 St & 3 Ave',
       'W 43 St & 6 Ave', 'Avenue D & E 12 St', 'W 44 St & 5 Ave',
       'E 48 St & 3 Ave', 'Elizabeth St & Hester St',
       '3969.TEMP (Bike The Branches - Central Branch)',
       'Dean St & 4 Ave', 'Bedford Ave & S 9 St',
       'E 43 St & Vanderbilt Ave', 'Hanover Pl & Livingston St',
       'Gallatin Pl & Livingston St', 'Pitt St & Stanton St',
       'Laight St & Hudson St', 'Centre St & Chambers St', 'MLSWKiosk',
       'E 37 St & Lexington Ave', 'DeKalb Ave & Skillman St'],
      dtype=object)

In [37]:
def camel_case(city):
    try:
        city = city.split(' ')
        city = ' '.join([x.lower().capitalize() for x in city])
        if city == 'Unknown':
            return np.nan
        else:
            return city
    except:
        return np.nan
    
# Apply camel_case function to City column
df['start station name'] = df['start station name'].apply(camel_case)
df['start station name'].value_counts()

W 20 St & 11 Ave               5983
E 17 St & Broadway             5621
Broadway & W 58 St             5401
Broadway & E 14 St             5177
Broadway & W 24 St             4955
                               ...
Hanover Pl & Livingston St      148
Dekalb Ave & Vanderbilt Ave     129
Park Ave & St Edwards St         89
Dekalb Ave & Skillman St         57
Mlswkiosk                         2
Name: start station name, Length: 337, dtype: int64

In [38]:
df.count()

tripduration               577702
starttime                  577702
stoptime                   577702
start station id           577702
start station name         577702
start station latitude     577702
start station longitude    577702
end station id             559643
end station name           559643
end station latitude       559643
end station longitude      559643
bikeid                     577702
usertype                   577702
birth year                 337382
gender                     577702
dtype: int64

In [41]:
df["tripduration"] = pd.to_numeric(df["tripduration"])
res = df.iloc[52323]
print(res["tripduration"])

1116

In [42]:
df_filtered = df[df['tripduration'] != "tripduration"]
df_filtered["tripduration"] = pd.to_numeric(df_filtered["tripduration"])
df = df_filtered
type(df["tripduration"][0])

numpy.int64

In [44]:
type(df["start station latitude"][0])

numpy.float64

In [47]:
type(df["end station longitude"][0])

numpy.float64

In [48]:
type(df["bikeid"][0])

numpy.int64

In [49]:
type(df["birth year"][0])

numpy.float64

In [50]:
type(df["gender"][0])

numpy.int64

In [51]:
type(df["starttime"][0])

str

In [52]:
df["starttime"] = pd.to_datetime(df["starttime"])
df["stoptime"] = pd.to_datetime(df["stoptime"])
type(df["starttime"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
df["starttime"][0] < df["stoptime"][0]

True

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577702 entries, 0 to 577701
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             577702 non-null  int64
 1   starttime                577702 non-null  datetime64[ns]
 2   stoptime                 577702 non-null  datetime64[ns]
 3   start station id         577702 non-null  int64
 4   start station name       577702 non-null  object
 5   start station latitude   577702 non-null  float64
 6   start station longitude  577702 non-null  float64
 7   end station id           559643 non-null  float64
 8   end station name         559643 non-null  object
 9   end station latitude     559643 non-null  float64
 10  end station longitude    559643 non-null  float64
 11  bikeid                   577702 non-null  int64
 12  usertype                 577702 non-null  object
 13  birth year               337382 non-null  float64
 14  gender                   577702 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(3)
memory usage: 86.6+ MB

In [58]:
def find_outliers_IQR(df):
   q1=df.quantile(0.25)
   q3=df.quantile(0.75)
   IQR=q3-q1
   outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]
   return outliers
outliers = find_outliers_IQR(df["birth year"])
print("number of outliers: " + str(len(outliers)))
print("max outlier value: " + str(outliers.max()))
print("min outlier value: " + str(outliers.min()))

number of outliers: 2527
max outlier value: 1945.0
min outlier value: 1899.0

In [60]:
df["gender"].value_counts()

1    263492
0    240747
2     73463
Name: gender, dtype: int64

In [61]:
temp_df = df[df["birth year"] <= 1957]
temp_df["gender"].value_counts()

1    21230
2     5767
0       17
Name: gender, dtype: int64

In [62]:
df.shape

(577702, 15)

In [63]:
df.to_csv('cleaned_dataset.csv', index=False)

In [66]:
link = 'https://drive.google.com/file/d/1S6novIF64WU92Q2MjP5O39u34rL_z59B/view?usp=drivesdk'    #getting drive link 
id = link.split("/")[-2]
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('cleaned_dataset.csv')
edadf = pd.read_csv('cleaned_dataset.csv')
print(edadf)

        tripduration            starttime             stoptime  \
0                695  2013-06-01 00:00:01  2013-06-01 00:11:36
1                693  2013-06-01 00:00:08  2013-06-01 00:11:41
2               2059  2013-06-01 00:00:44  2013-06-01 00:35:03
3                123  2013-06-01 00:01:04  2013-06-01 00:03:07
4               1521  2013-06-01 00:01:22  2013-06-01 00:26:43
...              ...                  ...                  ...
577698           925  2013-06-30 23:59:27  2013-07-01 00:14:52
577699           279  2013-06-30 23:59:36  2013-07-01 00:04:15
577700           161  2013-06-30 23:59:33  2013-07-01 00:02:14
577701           909  2013-06-30 23:59:47  2013-07-01 00:14:56
577702           634  2013-07-01 00:00:00  2013-07-01 00:10:34

        start station id      start station name  start station latitude  \
0                    444      Broadway & W 24 St               40.742354
1                    444      Broadway & W 24 St               40.742354
2                    406  Hicks St & Montague St               40.695128
3                    475     E 15 St & Irving Pl               40.735243
4                   2008   Little West St & 1 Pl               40.705693
...                  ...                     ...                     ...
577698               509         9 Ave & W 22 St               40.745497
577699               116         W 17 St & 8 Ave               40.741776
577700               443    Bedford Ave & S 9 St               40.708531
577701               509         9 Ave & W 22 St               40.745497
577702               164         E 47 St & 2 Ave               40.753231

        start station longitude  end station id        end station name  \
0                    -73.989151           434.0         9 Ave & W 18 St
1                    -73.989151           434.0         9 Ave & W 18 St
2                    -73.995951           406.0  Hicks St & Montague St
3                    -73.987586           262.0         Washington Park
4                    -74.016777           310.0     State St & Smith St
...                         ...             ...                     ...
577698               -74.001971           462.0        W 22 St & 10 Ave
577699               -74.001497           494.0         W 26 St & 8 Ave
577700               -73.964090           282.0      Kent Ave & S 11 St
577701               -74.001971           462.0        W 22 St & 10 Ave
577702               -73.970325           504.0         1 Ave & E 16 St

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.743174             -74.003664   19678  Subscriber
1                  40.743174             -74.003664   16649  Subscriber
2                  40.695128             -73.995951   19599    Customer
3                  40.691782             -73.973730   16352  Subscriber
4                  40.689269             -73.989129   15567  Subscriber
...                      ...                    ...     ...         ...
577698             40.746920             -74.004519   15250  Subscriber
577699             40.747348             -73.997236   19411    Customer
577700             40.707645             -73.968415   18910  Subscriber
577701             40.746920             -74.004519   16108    Customer
577702             40.732219             -73.981656   16950    Customer

        birth year  gender
0           1983.0       1
1           1984.0       1
2              NaN       0
3           1960.0       1
4           1983.0       1
...            ...     ...
577698      1964.0       1
577699         NaN       0
577700      1972.0       2
577701         NaN       0
577702         NaN       0

[577703 rows x 15 columns]

In [72]:
temp = edadf

In [73]:
temp.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [74]:
temp.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,5.777030e+05,577703.000000,577703.000000,577703.000000,559644.000000,559644.000000,559644.000000,577703.000000,337382.000000,577703.000000
mean,1.372570e+03,439.228836,40.732436,-73.991251,441.910624,40.732146,-73.991244,17617.434516,1974.644945,0.710431
std,9.028063e+03,337.240318,0.021423,0.013002,345.448311,0.021507,0.013105,1677.518719,10.780255,0.678268
min,6.100000e+01,72.000000,40.646607,-74.017134,72.000000,40.646607,-74.017134,14529.000000,1899.000000,0.000000
25%,5.140000e+02,309.000000,40.717400,-74.001768,309.000000,40.716887,-74.001971,16161.000000,1968.000000,0.000000
50%,8.740000e+02,404.000000,40.734546,-73.990741,403.000000,40.734232,-73.990741,17638.000000,1977.000000,1.000000
75%,1.398000e+03,482.000000,40.749013,-73.981948,482.000000,40.748549,-73.981923,19066.000000,1983.000000,1.000000
max,3.876479e+06,3020.000000,40.771522,-73.950048,3020.000000,40.771522,-73.950048,20625.000000,1997.000000,2.000000

In [75]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577703 entries, 0 to 577702
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             577703 non-null  int64
 1   starttime                577703 non-null  object
 2   stoptime                 577703 non-null  object
 3   start station id         577703 non-null  int64
 4   start station name       577703 non-null  object
 5   start station latitude   577703 non-null  float64
 6   start station longitude  577703 non-null  float64
 7   end station id           559644 non-null  float64
 8   end station name         559644 non-null  object
 9   end station latitude     559644 non-null  float64
 10  end station longitude    559644 non-null  float64
 11  bikeid                   577703 non-null  int64
 12  usertype                 577703 non-null  object
 13  birth year               337382 non-null  float64
 14  gender                   577703 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 66.1+ MB

In [80]:
temp["starttime"] = pd.to_datetime(temp["starttime"])
temp["stoptime"] = pd.to_datetime(temp["stoptime"])
temp.info()
temp["Hour"] = temp["stoptime"].dt.hour - temp["starttime"].dt.hour
temp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577703 entries, 0 to 577702
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             577703 non-null  int64
 1   starttime                577703 non-null  datetime64[ns]
 2   stoptime                 577703 non-null  datetime64[ns]
 3   start station id         577703 non-null  int64
 4   start station name       577703 non-null  object
 5   start station latitude   577703 non-null  float64
 6   start station longitude  577703 non-null  float64
 7   end station id           559644 non-null  float64
 8   end station name         559644 non-null  object
 9   end station latitude     559644 non-null  float64
 10  end station longitude    559644 non-null  float64
 11  bikeid                   577703 non-null  int64
 12  usertype                 577703 non-null  object
 13  birth year               337382 non-null  float64
 14  gender                   577703 non-null  int64
 15  Hour                     577703 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(3)
memory usage: 70.5+ MB

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Hour
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1,0
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1,0
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1,0
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1,0

In [81]:
temp.shape

(577703, 16)

In [82]:
temp['Age'] = 2022 - temp['birth year']
temp.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Hour,Age
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1,0,39.0
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1,0,38.0
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0,0,NaN
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1,0,62.0
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1,0,39.0

In [84]:
Age_Groups = ["<20", "20-29", "30-39", "40-49", "50-59", "60+"]
Age_Groups_Limits = [0, 20, 30, 40, 50, 60, np.inf]
Age_Min = 0
Age_Max = 100
temp["Age_group"] = pd.cut(temp["Age"], Age_Groups_Limits, labels=Age_Groups)
temp.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Hour,Age,Age_group
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1,0,39.0,30-39
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1,0,38.0,30-39
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0,0,NaN,NaN
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1,0,62.0,60+
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1,0,39.0,30-39

In [98]:
trips_df = pd.DataFrame()
trips_df = temp.groupby(['start station name','end station name']).size().reset_index(name = 'Number of Trips')
trips_df = trips_df.sort_values('Number of Trips',ascending = False)
trips_df["start station name"] = trips_df["start station name"].astype(str)
trips_df["end station name"] = trips_df["end station name"].astype(str)
trips_df["Routes"] = trips_df["start station name"] + " to " + trips_df["end station name"]
trips_df = trips_df[:50]
trips_df = trips_df.reset_index()
trips_df

,index,start station name,end station name,Number of Trips,Routes
0,17615,Central Park S & 6 Ave,Central Park S & 6 Ave,1509,Central Park S & 6 Ave to Central Park S & 6 Ave
1,14618,Broadway & W 58 St,Broadway & W 58 St,583,Broadway & W 58 St to Broadway & W 58 St
2,17884,Centre St & Chambers St,Centre St & Chambers St,394,Centre St & Chambers St to Centre St & Chamber...
3,77766,West Thames St,West Thames St,359,West Thames St to West Thames St
4,62283,Vesey Pl & River Terrace,Vesey Pl & River Terrace,321,Vesey Pl & River Terrace to Vesey Pl & River T...
5,7884,Atlantic Ave & Furman St,Atlantic Ave & Furman St,280,Atlantic Ave & Furman St to Atlantic Ave & Fur...
6,7983,Atlantic Ave & Furman St,Old Fulton St,268,Atlantic Ave & Furman St to Old Fulton St
7,2053,12 Ave & W 40 St,12 Ave & W 40 St,252,12 Ave & W 40 St to 12 Ave & W 40 St
8,77467,West St & Chambers St,West St & Chambers St,243,West St & Chambers St to West St & Chambers St
9,54248,Old Fulton St,Old Fulton St,240,Old Fulton St to Old Fulton St
10,17605,Central Park S & 6 Ave,Broadway & W 58 St,215,Central Park S & 6 Ave to Broadway & W 58 St
11,77468,West St & Chambers St,West Thames St,214,West St & Chambers St to West Thames St
12,74374,W 56 St & 6 Ave,W 56 St & 6 Ave,213,W 56 St & 6 Ave to W 56 St & 6 Ave
13,14357,Broadway & W 56 St,Broadway & W 56 St,205,Broadway & W 56 St to Broadway & W 56 St
14,15169,Bus Slip & State St,Bus Slip & State St,201,Bus Slip & State St to Bus Slip & State St
15,18705,Christopher St & Greenwich St,Christopher St & Greenwich St,196,Christopher St & Greenwich St to Christopher S...
16,17876,Centre St & Chambers St,Cadman Plaza E & Tillary St,182,Centre St & Chambers St to Cadman Plaza E & Ti...
17,1807,11 Ave & W 59 St,11 Ave & W 59 St,181,11 Ave & W 59 St to 11 Ave & W 59 St
18,54117,Old Fulton St,Atlantic Ave & Furman St,181,Old Fulton St to Atlantic Ave & Furman St
19,2290,12 Ave & W 40 St,West St & Chambers St,175,12 Ave & W 40 St to West St & Chambers St
20,10590,Broadway & Battery Pl,Broadway & Battery Pl,172,Broadway & Battery Pl to Broadway & Battery Pl
21,22283,Dean St & 4 Ave,Dean St & 4 Ave,172,Dean St & 4 Ave to Dean St & 4 Ave
22,54138,Old Fulton St,Centre St & Chambers St,171,Old Fulton St to Centre St & Chambers St
23,62341,Vesey Pl & River Terrace,West Thames St,170,Vesey Pl & River Terrace to West Thames St
24,77709,West Thames St,Vesey Pl & River Terrace,169,West Thames St to Vesey Pl & River Terrace
25,77227,West St & Chambers St,Bus Slip & State St,162,West St & Chambers St to Bus Slip & State St
26,64973,W 20 St & 11 Ave,W 20 St & 11 Ave,160,W 20 St & 11 Ave to W 20 St & 11 Ave
27,2590,2 Ave & E 58 St,2 Ave & E 58 St,158,2 Ave & E 58 St to 2 Ave & E 58 St
28,58926,South St & Gouverneur Ln,South St & Gouverneur Ln,156,South St & Gouverneur Ln to South St & Gouvern...
29,77765,West Thames St,West St & Chambers St,155,West Thames St to West St & Chambers St
30,11715,Broadway & W 24 St,E 17 St & Broadway,155,Broadway & W 24 St to E 17 St & Broadway
31,20744,Clinton St & Tillary St,Centre St & Chambers St,155,Clinton St & Tillary St to Centre St & Chamber...
32,58170,S 5 Pl & S 5 St,S 5 Pl & S 5 St,152,S 5 Pl & S 5 St to S 5 Pl & S 5 St
33,17896,Centre St & Chambers St,Clinton St & Tillary St,152,Centre St & Chambers St to Clinton St & Tillar...
34,78614,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,151,Wythe Ave & Metropolitan Ave to Wythe Ave & Me...
35,43579,Greenwich St & Warren St,West Thames St,151,Greenwich St & Warren St to West Thames St
36,11660,Broadway & W 24 St,Broadway & W 24 St,146,Broadway & W 24 St to Broadway & W 24 St
37,62119,Vesey Pl & River Terrace,Bus Slip & State St,144,Vesey Pl & River Terrace to Bus Slip & State St
38,5078,9 Ave & W 14 St,9 Ave & W 14 St,143,9 Ave & W 14 St to 9 Ave & W 14 St
39,42896,Greenwich St & North Moore St,Greenwich St & North Moore St,142,Greenwich St & North Moore St to Greenwich St ...
40,38304,FDR Drive & E 35 St,FDR Drive & E 35 St,139,FDR Drive & E 35 St to FDR Drive & E 35 St
41,8759,Bank St & Washington St,Bank St & Washington St,139,Bank St & Washington St to Bank St & Washingto...
42,26077,E 17 St & Broadway,E 17 St & Broadway,138,E 17 St & Broadway to E 17 St & Broadway
43,15683,Cadman Plaza E & Tillary St,Centre St & Chambers St,138,Cadman Plaza E & Tillary St to Centre St & Cha...
44,1563,11 Ave & W 41 St,11 Ave & W 41 St,136,11 Ave & W 41 St to 11 Ave & W 41 St
45,73938,W 56 St & 10 Ave,Central Park S & 6 Ave,135,W 56 St & 10 Ave to Central Park S & 6 Ave
46,14628,Broadway & W 58 St,Central Park S & 6 Ave,133,Broadway & W 58 St to Central Park S & 6 Ave
47,76653,Washington St & Gansevoort St,Washington St & Gansevoort St,131,Washington St & Gansevoort St to Washington St...
48,15332,Bus Slip & State St,Vesey Pl & River Terrace,131,Bus Slip & State St to Vesey Pl & River Terrace
49,13580,Broadway & W 49 St,Broadway & W 49 St,130,Broadway & W 49 St to Broadway & W 49 St

In [86]:
px.pie(values = temp['gender'].value_counts(),
       names =temp['gender'].value_counts().index,
       title ="Gender Variation")

In [93]:
px.bar(x=temp["start station name"].value_counts().index,
       y=temp["start station name"].value_counts().values,
       labels={'x':'Start Station Name',"y":"Count"})

In [88]:
px.bar(x=temp["end station name"].value_counts().index,
       y=temp["end station name"].value_counts().values,
       labels={'x':'End Station Name',"y":"Count"})

In [97]:
px.bar(x=temp["Hour"].value_counts().index,
       y=temp["Hour"].value_counts().values,
       title = "Hour usage of Citi Bikes",
       labels={'x':'Time',"y":"Number of people using bike"})